<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <title>{ifset title}{include title|stripHtml} | {/ifset}Nette Web</title>
    </head>

    <body>
        <div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

        <div class="container">
            {include content}
        </div>

        <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://raw.githubusercontent.com/vojtech-dobes/nette.ajax.js/master/nette.ajax.js"></script>
        <script>
            $(function () {
                $.nette.init();
            });
        </script>
    </body>
</html>
