{* This is the welcome page, you can delete it *}

{block content}
<div class="row">
    <div class="col-md-12">
        <h3>Api</h3>
        <ul>
            <li><a n:href="Api:articles" target="_blank">Články</a></li>
            <li><a n:href="Api:article, 1" target="_blank">Článek #1</a></li>
            <li><a n:href="Api:articlesByAuthor, 2" target="_blank">Článek od autora s id #2</a></li>
        </ul>
    </div>
    <div class="col-md-6">
        <div class="page-header">
            <h3>Studenti</h3>
        </div>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Jméno</th>
                    <th>Příjmení</th>
                </tr>
            </thead>
            <tbody>
                <tr n:foreach="$students as $student">
                    <td>{$student->id}</td>
                    <td>{$student->name}</td>
                    <td>{$student->surname}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <div class="page-header">
            <h3>Kantoři</h3>
        </div>
        <table class="table table-striped table-bordered" n:snippet="employeers">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Jméno</th>
                    <th>Příjmení</th>
                    <th>Pracovní pozice</th>
                    <th>Plat</th>
                    <th>Akce</th>
                </tr>
            </thead>
            <tbody>
                <tr n:foreach="$employees as $employee">
                    <td>{$employee->id}</td>
                    <td>{$employee->name}</td>
                    <td>{$employee->surname}</td>
                    <td>{$employee->job}</td>
                    <td>{$employee->pay},-</td>
                    <td><a n:href="calculateNewPay! $employee->id" class="ajax btn btn-xs btn-success">Zvýšit plat</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-12">
        <div class="page-header">
            <h3>Články</h3>
        </div>
        <ul class="nav nav-pills">
            <li class="active"><a data-toggle="tab" href="#araul">Článek a autor malým</a></li>
            <li><a data-toggle="tab" href="#arauu">Článek a autor velkým</a></li>
            <li><a data-toggle="tab" href="#auarl">Autor a článek malým</a></li>
            <li><a data-toggle="tab" href="#auaru">Autor a článek velkým</a></li>
        </ul>
        <br />
        <div class="tab-content">
            <div id="araul" class="tab-pane fade in active">
                <div class="panel panel-default">
                    <div class="panel-body">
                        {$articleAuthorUpper}
                    </div>
                </div>
            </div>
            <div id="arauu" class="tab-pane fade">
                <div class="panel panel-default">
                    <div class="panel-body">
                        {$articleAuthorLower}
                    </div>
                </div>
            </div>
            <div id="auarl" class="tab-pane fade">
                <div class="panel panel-default">
                    <div class="panel-body">
                        {$authorArticleUpper}
                    </div>
                </div>
            </div>
            <div id="auaru" class="tab-pane fade">
                <div class="panel panel-default">
                    <div class="panel-body">
                        {$authorArticleLower}
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Název</th>
                    <th>Autor</th>
                    <th>Text</th>
                </tr>
            </thead>
            <tbody>
                <tr n:foreach="$articles as $article">
                    <td>{$article->id}</td>
                    <td>{$article->name}</td>
                    <td>{$article->author->name}&nbsp;{$article->author->surname}</td>
                    <td>{$article->text}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
